@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Bebas+Neue&family=Merriweather:wght@300&family=Montserrat:wght@300;400;800&display=swap');
.title{
    flex:1;
    color:tomato;
    font-family:"Assistant";
    font-size: 80px;
   
    font-weight:bold;
    cursor: pointer;
}