@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Bebas+Neue&family=Merriweather:wght@300&family=Montserrat:wght@300;400;800&family=Oswald:wght@700&display=swap');
.title{
    flex:1;
    color:green;
    font-family:"Oswald";
    font-size: 40px;
  
    cursor: pointer;
}